extends ./layout.jade

block content
	div.row.rtl
		h2.text-center= trans.gameTitle
		ol
			li= trans.choosePartyName
			li= trans.clickNoteToVote
			li= trans.winnerIs

	form(method="POST")
		div.row.note
			div(class=[
				"col-xs-6",
				"col-sm-3",
				"col-md-3",
				"col-lg-2",
				"center-block"
			])
				div#note.input
					div.form-group
						input#party.form-control.text-center(type="text",
															 name="party",
															 maxlength=3)
		div.row.rtl
			div.col-xs-12.center-block
				button.btn.btn-default.center-block(type="submit") תתחיל להצביע

block jsCode
	script(src="js/new_connection.js")
