div.row.rtl
	h2.text-center
		u= trans.topTen
	table.table#topTen
		thead
			tr
				th= trans.rank
				th= trans.party
				th= trans.votes

	h2.text-center
		u= trans.nearUser
	table.table#nearUser
		thead
			tr
				th= trans.rank
				th= trans.party
				th= trans.votes
	button#statsRefresh.btn.btn-primary.btn-block= trans.refreshStats