extends ./layout.jade


block content
	div.row.note
		div(class=[
				"col-xs-6",
				"col-sm-3",
				"col-md-3",
				"col-lg-2",
				"center-block"
			])
			div#note.center-block
				p#party.text-center.noselect= party

	div.row#dropzone
		div

	div.row
		div#box-container(class=[
			"col-xs-8",
			"col-sm-3",
			"col-lg-2",
			"center-block"
		])
			img.center-block.img-responsive(src="img/votingBox.png")
			div.text-center
				h2
					span#votes.odometer
					br
					span= trans.votesCounted
				h3
					span#users
					span= " " + trans.additionalVoters

	hr

	div.row.rtl
		h2.text-center= trans.topTen + ":"
		table.table#topTen
			thead
				tr
					th= trans.rank
					th= trans.party
					th= trans.votes

		h2.text-center= trans.nearUser + ":"
		table.table#nearUser
			thead
				tr
					th= trans.rank
					th= trans.party
					th= trans.votes
		button#statsRefresh.btn.btn-primary.btn-block= trans.refreshStats

block jsCode
	script(src="js/vote.js")
