extends ./layout.jade

block cssPage
    link(href="/css/welcome.css", rel="stylesheet")

block content
    div.row
        h1.text-center= trans.gameTitle

    div.row
        h2.text-center= trans.chooseParty
        - for (var i=0; i < parties.length; i++)
            - var party = parties[i]
            div.col-xs-6.col-md-3.party-container
                div.party
                    h2.text-center= party.partyName
                    div.row
                        div.col-md-5
                            h3
                                span= trans.votes + ": "
                                span= party.score
                        div.col-md-5.col-md-offset-2
                            h3
                                span= trans.voters  + ": "
                                span= party.voters.length

    div.row
        h2.text-center= trans.clickToGetVotes

    div.row
        div.col-xs-6.center-block
            img#clickMeNote.img-responsive.center-block(
                src="img/clickMeNote.png"
            )
